:root {
    --size: 600px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    text-align: center;
}
#updated{
    cursor: pointer;
}

.text {
    font-size: 20px; 
    text-anchor: middle;
    text-align: middle;
    font-weight: bold;
}
.outer {
    cx:50%;
    cy:50%;
    r:150px;
    fill:#eee;
    stroke-width: 12px;
    stroke:black;
}
.inner {
    cx:50%;
    cy:50%;
    r:140px;
    fill:transparent;
    stroke-width: 15px;
}
.dot {
    cx:50%;
    cy:50%;
    r:10px;
    fill: black;
}
#arrow {
    stroke-width:2px;
}

.boxes {
    background-color: black;
    color: white;
    font-size: calc(15px + 1vw);
    display: flex;
}
.boxes div {
    flex: 1;
}
.indicator {
    width: 100%;
    height: 5px;
}
.name {
    text-align: center;
    padding: 5px 0px;
}
.value {
    text-align: center;
    font-size: calc(20px + 0.5vw);
    padding: 0px 0px 5px 0px;
}
.value span{
    font-size: calc(12px + 0.5vw);
}
.chart {
    width: 100%;
}
.windrose {
    vertical-align: top;
    @media screen and (min-width: 1200px) {
        display: inline-block;
        width: var(--size);        
    }
}
.charts {
    @media screen and (min-width: 1200px) {
        display: inline-block;
        width: calc( 100% - var(--size) - 10px);        
    }
}